@{
    ViewData["Title"] = "Company Types";
}

<div class="text-center">
    <h1 class="display-4">Welcome Companies</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Company Type Page</a>.</p>
</div>
