@{
    ViewData["Title"] = "Business Types";
}

<div class="text-center">
    <h1 class="display-4">Welcome Business Type Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Business Type Page</a>.</p>
</div>
